#supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
DATABASE_URL=
NODE_ENV=production

# Email (Gmail example)
EMAIL_USER=
EMAIL_PASS=
HR_EMAIL=

EQUIPMENT_RENTAL_PIC_EMAIL=

# M&V PIC email
MV_PIC_EMAIL=

# REEM PIC email
REEM_PIC_EMAIL=

#EMS PIC email
EMS_PIC_EMAIL=
